
.cdPlayer {
	width: 150;
	height: 150px;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 10px;
	display: flex;
	background-color: #eee;
}

.cdModel {
	width: 150px;
	text-align: center;
	font-size: 20px;
}